App_WebReferences/FinService/finservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_string" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptWithKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_yourKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptWithKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptWithKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptWithKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_yourKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptWithKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptWithKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="infoSoapIn">
    <wsdl:part name="parameters" element="tns:info" />
  </wsdl:message>
  <wsdl:message name="infoSoapOut">
    <wsdl:part name="parameters" element="tns:infoResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptWithKeySoapIn">
    <wsdl:part name="parameters" element="tns:EncryptWithKey" />
  </wsdl:message>
  <wsdl:message name="EncryptWithKeySoapOut">
    <wsdl:part name="parameters" element="tns:EncryptWithKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptWithKeySoapIn">
    <wsdl:part name="parameters" element="tns:DecryptWithKey" />
  </wsdl:message>
  <wsdl:message name="DecryptWithKeySoapOut">
    <wsdl:part name="parameters" element="tns:DecryptWithKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="FinserviceSoap">
    <wsdl:operation name="info">
      <wsdl:input message="tns:infoSoapIn" />
      <wsdl:output message="tns:infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptWithKey">
      <wsdl:input message="tns:EncryptWithKeySoapIn" />
      <wsdl:output message="tns:EncryptWithKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptWithKey">
      <wsdl:input message="tns:DecryptWithKeySoapIn" />
      <wsdl:output message="tns:DecryptWithKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinserviceSoap" type="tns:FinserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="info">
      <soap:operation soapAction="http://tempuri.org/info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptWithKey">
      <soap:operation soapAction="http://tempuri.org/EncryptWithKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptWithKey">
      <soap:operation soapAction="http://tempuri.org/DecryptWithKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinserviceSoap12" type="tns:FinserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="info">
      <soap12:operation soapAction="http://tempuri.org/info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptWithKey">
      <soap12:operation soapAction="http://tempuri.org/EncryptWithKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptWithKey">
      <soap12:operation soapAction="http://tempuri.org/DecryptWithKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Finservice">
    <wsdl:port name="FinserviceSoap" binding="tns:FinserviceSoap">
      <soap:address location="https://smartedu.mahidol.ac.th/Finservice/finservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FinserviceSoap12" binding="tns:FinserviceSoap12">
      <soap12:address location="https://smartedu.mahidol.ac.th/Finservice/finservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>